<div>
  <h1>CF Upside Down</h1>
  <p>
    Oh no! You've fallen asleep during lecture again! As your eyes adjust to the
    dark classroom you notice how quiet it is. The coworking area is dark through
    the frosted glass, everyone's probably already gone home. The windows behind
    you don't offer much light from outside since they now seem to be covered in
    fleshy, oozing vines. In fact, all the walls are covered with it! You check
    your phone and it's dead, you check your compass and it's not pointing at
    true magnetic north.
    <br><br>
    There is no denying it, you are now stuck in the Upside Down.
    <br>
    Find a way to get back to the Rightside Up. Go north, south, east, or west.
  </p>
  <console></console>
  <history ng-if="!(gameCtrl.player.win)"></history>
  <win ng-if="gameCtrl.player.win"></win>
</div>
