<div class="lose">
  <h2>You Die</h2>
  <p>
    The Demigorgon catches you and either feasts on your organs or strings you
    up to the wall as the fleshy decaying tendrils slowly digest your body for
    eternity.
    <br><br>
    Maybe next time you'll learn how to hide better. (Except there is no next
    time, this isn't a game you can just start over with full health and mana to
    throw fireballs at the Demigorgon! No crusading sheriff or worried mom to
    save you! You done fucked up! It's over! You dead!)
  </p>
  <button ng-click="loseCtrl.player.reset()">New Game?</button>
</div>
