<div class="win">
  <h2>You Survive</h2>
  <p>
    You notice a faint glow coming from one of the empty elevator shafts. You
    check your compass to see it pointing straight ahead. As you pry open the
    broken elevator doors you can hear the roar of the monster starting to
    close in behind you. You look down and see the Gate like a gaping maw open
    at the bottom of the shaft, four stories below. You only hesitate a split
    second and then jump screaming "YOOOOLOOOO!!!!", just in time to hear a loud
    snap of teeth behind you.
    <br><br>
    You wake up abruptly from the sound of the door opening and people filing in
    for evening lecture. You really should stop taking naps on campus.
  </p>
  <button ng-click="winCtrl.player.reset()">New Game</button>
</div>
